*{
  margin: 0%;
  padding: 0%;
}

header {
  background-color: #E5E7E9;
  height: 10vh;
  width: 100%;
}

header h1 {
  font-family: 'Atma', cursive;
  text-align: center;
  font-size: 45px;
  color: #16A085;
}

h4 {
  font-family: 'Atma', cursive;
  margin-top: 5%;
  text-align: center;
  font-size: 45px;
  color: #CD6155;
}

section textarea {
  margin-left: 25%;
  margin-top: 2%;
  width: 50%;
}

section button {
  margin-left: 28%;
  margin-top: 2.5%;
  width: 45%;
  height: 7vh;
  border-radius: 10%;
  border: none;
  background-color: #16A085;
  font-family: 'Atma', cursive;
  font-size: 22px;
}

#newExtract{
  margin-top: 5%;
  width: 50%;
  margin-left: 25%;
  border: 1px solid #CD6155;
  font-size: 20px;
  font-family: 'Encode Sans Condensed', sans-serif;
}